body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    margin: 20px;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(11, 40px);
    gap: 2px;
    margin-top: 20px;
}

.cell{
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}

.obstacle{
    background-color: darkblue;
}

.cat {
    background-color: orange;
}